<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
 version="3.0">
  <display-name>controlMore-web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- definição da Servlet que atenderá todas requisições -->
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>br.com.controlmore.controle.web.Servlet</servlet-class>
  </servlet>
  
  <!-- mapeamentos de requisição síncrona (form, href e etc) -->
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Saida</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Pessoa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Meta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Entrada</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/RelCat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Filtro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Questionario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Avaliacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/UpFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Categoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Comparar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Analisar</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>SaidaFiltro</display-name>
    <filter-name>SaidaFiltro</filter-name>
    <filter-class>br.com.controlmore.filter.SaidaFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SaidaFiltro</filter-name>
    <url-pattern>/SaidaFiltro</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>QuestionarioFilter</display-name>
    <filter-name>QuestionarioFilter</filter-name>
    <filter-class>br.com.controlmore.filter.QuestionarioFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>QuestionarioFilter</filter-name>
    <url-pattern>/QuestionarioFilter</url-pattern>
  </filter-mapping>
</web-app>